{% extends "layout.html" %}

{% block desktop-body %}
    <div>
        {% if is_prof_dinelist %}
            <h2><a href="#">{{ category }}</a>'s Dinelists</h2>
        {% else %}
            <h2>{{ category }}</h2>
        {% endif %}
    </div>
    <div>
        {% for subcategory in subcategorized_restaurants %}
            <div>
                <div><h3>
                    <a href="{% url 'subcategory' category_link_attribute subcategory.0 %}">{{ subcategory.0 }}</a>
                    {% if is_dinelist and not is_prof_dinelist %}
                        by <a href="{% url 'prof_dinelists' subcategory.0.user %}">{{ subcategory.0.user }}</a>
                    {% endif %}
                </h3></div>
                <div class="horizontal-scrollable">
                    {% for restaurant in subcategory.1 %}
                        <a href="{% url 'restaurant' restaurant.0.name %}">
                            <div class="small-card restaurant-instance" onmouseover="highlight_small_card(this)" onmouseout="unhighlight_small_card(this)">
                                {{ restaurant.1|json_script:restaurant.0.clean_name }}
                                <div class="clean-name">{{ restaurant.0.clean_name }}</div>
                                <div class="card-content">
                                    <div><h4>{{ restaurant.0.name }}</h4></div>
                                    <div class="card-star-rating">
                                        {% for i in '0123456789'|make_list %}
                                            <span class="fa fa-star"></span>
                                        {% endfor %}
                                    </div>
                                    <div class="hidden-stars">{{ restaurant.0.mean_rating }}</div>
                                    <div>{{ restaurant.0.setting }} • {{ restaurant.0.cuisine }} • {{ restaurant.0.price_range }}</div>
                                    <div class="hidden-image">{{ restaurant.0.image }}</div>                                    
                                </div>
                                <div class="card-actions">
                                    {% if user.is_authenticated %}
                                        <ul class="top-level">
                                            <li>
                                                <button><a href="#">&#8942</a></button>
                                                <ul class="second-level">
                                                    <li><div class="second-level-item top">
                                                        <a href="{% url 'add_review' restaurant.0.name %}">+ Review</a>
                                                    </div></li>
                                                    <li class="crave" onclick="add_to_cravings(this, '{{ request.user.username }}', '{{ restaurant.0.name }}')"><div class="second-level-item">
                                                        <a href="#">+ Cravings</a>
                                                    </div></li>
                                                    <li class="uncrave" onclick="remove_from_cravings(this, '{{ request.user.username }}', '{{ restaurant.0.name }}')"><div class="second-level-item">
                                                        <a href="#">- Cravings</a>
                                                    </div></li>
                                                    <li>
                                                        <div class="second-level-item bottom">
                                                            <a href="#">+ Dinelist</a>
                                                        </div>
                                                        <ul class="third-level">
                                                            {% for dinelist in user_dinelists %}
                                                                {% if forloop.first %}
                                                                    <li><div class="third-level-item top" onclick="add_to_dinelist('{{ restaurant.0.name }}', '{{ dinelist.name }}')">
                                                                        <a href="#">{{ dinelist.name }}</a>
                                                                    </div></li>
                                                                {% elif forloop.last %}
                                                                    <li><div class="third-level-item bottom" onclick="add_to_dinelist('{{ restaurant.0.name }}', '{{ dinelist.name }}')">
                                                                        <a href="#">{{ dinelist.name }}</a>
                                                                    </div></li>
                                                                {% else %}
                                                                    <li><div class="third-level-item" onclick="add_to_dinelist('{{ restaurant.0.name }}', '{{ dinelist.name }}')">
                                                                        <a href="#">{{ dinelist.name }}</a>
                                                                    </div></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div><br>
        {% endfor %}
    </div>
{% endblock %}

{% block mobile-body %}
    <div>
        {% if is_prof_dinelist %}
            <h2><a href="#">{{ category }}</a>'s Dinelists</h2>
        {% else %}
            <h2>{{ category }}</h2>
        {% endif %}
    </div>
    <div>
        {% for subcategory in subcategorized_restaurants %}
            <div>
                <div><h3>
                    <a href="{% url 'subcategory' category_link_attribute subcategory.0 %}">{{ subcategory.0 }}</a>
                    {% if is_dinelist and not is_prof_dinelist %}
                        by <a href="{% url 'prof_dinelists' subcategory.0.user %}">{{ subcategory.0.user }}</a>
                    {% endif %}
                </h3></div>
                <div class="horizontal-scrollable">
                    {% for restaurant in subcategory.1 %}
                        <a href="{% url 'restaurant' restaurant.0.name %}">
                            <div class="small-card restaurant-instance" onmouseover="highlight_small_card(this)" onmouseout="unhighlight_small_card(this)">
                                {{ restaurant.1|json_script:restaurant.0.clean_name }}
                                <div class="clean-name">{{ restaurant.0.clean_name }}</div>
                                <div class="card-content">
                                    <div><h4>{{ restaurant.0.name }}</h4></div>
                                    <div class="card-star-rating">
                                        {% for i in '0123456789'|make_list %}
                                            <span class="fa fa-star"></span>
                                        {% endfor %}
                                    </div>
                                    <div class="hidden-stars">{{ restaurant.0.mean_rating }}</div>
                                    <div>{{ restaurant.0.setting }} • {{ restaurant.0.cuisine }} • {{ restaurant.0.price_range }}</div>
                                    <div class="hidden-image">{{ restaurant.0.image }}</div>                                    
                                </div>
                                <div class="card-actions">
                                    {% if user.is_authenticated %}
                                        <ul class="top-level">
                                            <li>
                                                <button><a href="#">&#8942</a></button>
                                                <ul class="second-level">
                                                    <li><div class="second-level-item top">
                                                        <a href="{% url 'add_review' restaurant.0.name %}">+ Review</a>
                                                    </div></li>
                                                    <li class="crave" onclick="add_to_cravings(this, '{{ request.user.username }}', '{{ restaurant.0.name }}')"><div class="second-level-item">
                                                        <a href="#">+ Cravings</a>
                                                    </div></li>
                                                    <li class="uncrave" onclick="remove_from_cravings(this, '{{ request.user.username }}', '{{ restaurant.0.name }}')"><div class="second-level-item">
                                                        <a href="#">- Cravings</a>
                                                    </div></li>
                                                    <li>
                                                        <div class="second-level-item bottom">
                                                            <a href="#">+ Dinelist</a>
                                                        </div>
                                                        <ul class="third-level">
                                                            {% for dinelist in user_dinelists %}
                                                                {% if forloop.first %}
                                                                    <li><div class="third-level-item top" onclick="add_to_dinelist('{{ restaurant.0.name }}', '{{ dinelist.name }}')">
                                                                        <a href="#">{{ dinelist.name }}</a>
                                                                    </div></li>
                                                                {% elif forloop.last %}
                                                                    <li><div class="third-level-item bottom" onclick="add_to_dinelist('{{ restaurant.0.name }}', '{{ dinelist.name }}')">
                                                                        <a href="#">{{ dinelist.name }}</a>
                                                                    </div></li>
                                                                {% else %}
                                                                    <li><div class="third-level-item" onclick="add_to_dinelist('{{ restaurant.0.name }}', '{{ dinelist.name }}')">
                                                                        <a href="#">{{ dinelist.name }}</a>
                                                                    </div></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div><br>
        {% endfor %}
    </div>
{% endblock %}
